* {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
    padding: 40px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 2.5rem;
}

.links a {
    margin: 10px;
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin-bottom: 40px;
}

.project {
    background: #020617;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

.project a {
    color: #22d3ee;
    text-decoration: none;
}